body {
  font-family: 'Open sans'
}

.jumbotron {
  background-image: url("https://picsum.photos/1080?image=1033");
  color: #fff;
  text-shadow: 0px 0px 1px #000;
  margin-bottom: 0!important;
}
h1 {
  text-shadow: 0px 0px 4px #000;
}
nav {
  width: 100%;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
}

nav li {
  list-style: none;
}
nav li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

img {
  width: 100%;
  margin-bottom: 15px;
}

.row > * {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-8, .row .col-sm-4:last-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

}