#afWidgetContainer {
  text-align: center;
}

#afWidgetContainer > .letter {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 625px) {
}
#afWidgetContainer > .letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #fff;
}
#afWidgetContainer > .letter:nth-child(1):before {
  content: "7961524038";
  margin-top: -168px;
  animation-name: letter1;
  animation-duration: 2.065s;
  animation-delay: 0.41s;
  animation-fill-mode: forwards;
}
@keyframes letter1 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(2):before {
  content: "0354619728";
  margin-top: -48px;
  animation-name: letter2;
  animation-duration: 1.25333s;
  animation-delay: 0.53s;
  animation-fill-mode: forwards;
}
@keyframes letter2 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(3):before {
  content: "7312680495";
  margin-top: -72px;
  animation-name: letter3;
  animation-duration: 0.03s;
  animation-delay: 0.99s;
  animation-fill-mode: forwards;
}
@keyframes letter3 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(4):before {
  content: "0374219865";
  margin-top: -168px;
  animation-name: letter4;
  animation-duration: 3.08s;
  animation-delay: 0.12s;
  animation-fill-mode: forwards;
}
@keyframes letter4 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(5):before {
  content: "8790231564";
  margin-top: -96px;
  animation-name: letter5;
  animation-duration: 1.504s;
  animation-delay: 0.53s;
  animation-fill-mode: forwards;
}
@keyframes letter5 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(6):before {
  content: "1752894036";
  margin-top: -120px;
  animation-name: letter6;
  animation-duration: 2.2s;
  animation-delay: 0.34s;
  animation-fill-mode: forwards;
}
@keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(7):before {
  content: "9761543280";
  margin-top: -168px;
  animation-name: letter7;
  animation-duration: 0.875s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
@keyframes letter7 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(8):before {
  content: "5869170342";
  margin-top: -144px;
  animation-name: letter8;
  animation-duration: 1.33714s;
  animation-delay: 0.61s;
  animation-fill-mode: forwards;
}
@keyframes letter8 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(9):before {
  content: "0614953728";
  margin-top: -96px;
  animation-name: letter9;
  animation-duration: 0.672s;
  animation-delay: 0.79s;
  animation-fill-mode: forwards;
}
@keyframes letter9 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(10):before {
  content: "8279450316";
  margin-top: -48px;
  animation-name: letter10;
  animation-duration: 1.2s;
  animation-delay: 0.55s;
  animation-fill-mode: forwards;
}
@keyframes letter10 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(11):before {
  content: "3517296084";
  margin-top: -216px;
  animation-name: letter11;
  animation-duration: 3.312s;
  animation-delay: 0.08s;
  animation-fill-mode: forwards;
}
@keyframes letter11 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(12):before {
  content: "1245963078";
  margin-top: -120px;
  animation-name: letter12;
  animation-duration: 3.13333s;
  animation-delay: 0.06s;
  animation-fill-mode: forwards;
}
@keyframes letter12 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(13):before {
  content: "0461352897";
  margin-top: -48px;
  animation-name: letter13;
  animation-duration: 2.58667s;
  animation-delay: 0.03s;
  animation-fill-mode: forwards;
}
@keyframes letter13 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(14):before {
  content: "4871029563";
  margin-top: -192px;
  animation-name: letter14;
  animation-duration: 3.52s;
  animation-delay: 0.01s;
  animation-fill-mode: forwards;
}
@keyframes letter14 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(15):before {
  content: "9516740328";
  margin-top: 0px;
  animation-name: letter15;
  animation-duration: 0s;
  animation-delay: 0.26s;
  animation-fill-mode: forwards;
}
@keyframes letter15 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}
#afWidgetContainer > .letter:nth-child(16):before {
  content: "7925364801";
  margin-top: -144px;
  animation-name: letter16;
  animation-duration: 0s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes letter16 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 24px;
  }
}
