<html lang="sv">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/main.css">
</head>
<body>
    <div class="jumbotron text-center">
      <h1><%= htmlWebpackPlugin.options.MyPageHeader %></h1>
      <p>Resize this responsive page to see the effect!</p> 
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Lorem ipsum</h3>
          <img src="https://picsum.photos/300?image=1067">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>Dolor sit</h3>
          <img src="https://picsum.photos/300?image=1076">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Dolor sit</h3>
            <img src="https://picsum.photos/300?image=1074">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <!-- this is the Widget start -->
          <div
            id="afWidgetContainer"
            data-limit="20"
            data-showexpired="false"
            data-q=""
            data-modal="false"
            data-places="jokkmokk"
            ></div>
          <!-- this is where the Widget ends -->  
        </div>
        <div class="col-sm-4">
            <h3 style="height: 96px">Lorem ipsum dolor sit amet, consectetur</h3>
            <img style="height:400px" src="https://picsum.photos/300/400?image=1067">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
      </div>
    </div>
</html>